{% extends 'base.html' %}
{% block title %} Gallery | HARD {% endblock %}
{% block content %}
{% load static %}
    <section class="pricing-page">
        <div class="row">
            <div class="col-md-12 form-group">
                <div class="box">
                    <div class="row">
                        <h3 class="text-center"><b>HARD Balochistan Gallery</b></h3>
                    </div>
                    <div class="col-md-14">                    
                    {% for image in object_list %}
                    <ul style="float: left;">
                        <li style="display: inline-block;">
                      <a target="_blank" href="{{ image.shop_image.url }}">
                        <img src="{{ image.shop_image.url }}" alt="" width="200" height="200">
                      </a>
                      <div class="desc">{{image.description}}</div></li></ul>
                    {% endfor %}
                    </div>
                </div>
                </div>
            </div>
    </section><!--/pricing-page-->
           
    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <h2 style="color: black; text-align: center;">Geographical Coverage</h2>
                <p style="text-align: center;"> The geographical coverage is Pakistan but the Balochistan is the prime focus of the organization.</p>
                <br>
                <br>
                <div class="col-md-4 col-sm-8">
                    <div class="widget">
                        <h3>Head Office</h3>
                        <ul>
                            <ol><a href="#">House No J9 West Afzal Bungalows Spiny Road Quetta Balochistan, Pakistan</a></ol>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-4 col-sm-8">
                    <div class="widget">
                        <h3>Regional Office</h3>
                        <ul>
                            <ol><a href="#">Suneri Street In front of NHA Office Near RCD Road District Khuzdar</a></ol>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-4 col-sm-8">
                    <div class="widget">
                        <h3>Field Office</h3>
                        <ul>
                            <ol><a href="#">Near Civic Center Arcaiteded Housing Society RCD Road Hub District Lasbella</a></ol>
                            <ol><a href="#">Dilbod Colony Near NRSP Office City & District Awaran</a></ol>
                            <ol><a href="#">Mughalzai No 1 Iskalko Road City & District Kalat </a></ol>
                            <ol><a href="#">Near Mujeeb Shahwani house Killi Choto District Mastung </a></ol>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; PartumSolutions <a target="_blank" href="http://www.partumSolution.com" title="Partum Solutions">HARD</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

{% endblock %}