{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">	
	<!-- core CSS -->
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/prettyPhoto.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/responsive.css' %}">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/ico/apple-touch-icon-57-precomposed.png' %}">
</head><!--/head-->

<body class="homepage">

    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        <div class="top-number"><p><i class="fa fa-phone-square"></i>  0812821432 / +923338338855</p></div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                       <div class="social">
                            <ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                            <div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search"></i>
                                </form>
                           </div>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="{% static 'img/logo.jpeg' %}" alt="logo" style="width:100px; height: 80px">
                    </a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="{% url 'web_pages:intro' %}">Introduction</a></li>
                        <li><a href="{% url 'web_pages:project_list' %}">Projects</a></li>
                        <li><a href="{% url 'web_pages:gallery_list' %}">Gallery</a></li>
                        <li><a href="{% url 'web_pages:contact_us' %}">Contact</a></li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->
    <!-- Content Wrapper. Contains page content -->
    {% block content %}{% endblock %}
    <!-- /.content-wrapper -->
{% block scripts %}
    <script src="{% static 'dist/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/js/jquery.prettyPhoto.js'%}"></script>
    <script type="text/javascript" src="{% static 'dist/js/jquery.isotope.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'dist/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/js/wow.min.js' %}"></script>
{% endblock %}
</body>
</html>